<section class="footer bg-secondary">
  <div class="container">
    <div class="row align-items-center"> 
      <div class="col-12 col-lg-6 mb-14 mb-md-0">
        <div class="d-flex align-items-center justify-content-center justify-content-md-start">
          <a class="footer-brand" href="#">Basis Ocean</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 text-center text-md-right">
        <ul class="footer-menu">
          <li>
            <a href="#">Política de Privacidade</a>
          </li>
          <li>
            <a href="#">Termos e Condições</a>
          </li>
        </ul>
      </div>
    </div>  
  </div>
</section>