<section class="section">
  <div class="container d-flex align-items-center justify-content-center text-center">
    <h1 id="sobr"class="sobre">Sobre</h1>
    
  </div>
  <div class="container d-flex align-items-center justify-content-center text-center">
    <p>Dentro do contexto da decada da ciencia oceanica no Brasil, promovida pela UNESCO, o uso melhor e mais responsavel dos oceanos passa pela divulgação de dados para e entre gestores, comunidade academica e para moradores e pessoas que sobrevivem atraves dos serviços ecossistemicos oferecidos pelos oceanos.</p>
  </div>
</section>  