<div class="container text-center">
  <h1 class="titulo">
    Basis Ocean
  </h1>
  <h3 class="subtitulo">
    Editar Dado
  </h3>
</div>


<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-2">Nome</label>
        <input type="text" class="form-control" formControlName="nome" #dado_name [(ngModel)] = "dado.nome" />
      </div>
      <div *ngIf="angForm.controls['nome'].invalid && (angForm.controls['nome'].dirty || angForm.controls['nome'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['nome'].errors.required">
          Nome é obrigatório.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">Fonte</label>
        <input type="text" class="form-control" formControlName="fonte" #business_name [(ngModel)] = "dado.fonte" />
      </div>
      <div *ngIf="angForm.controls['fonte'].invalid && (angForm.controls['fonte'].dirty || angForm.controls['fonte'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['fonte'].errors.required">
          Fonte é obrigatório.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">Tipo</label>
        <input type="text" class="form-control" formControlName="tipo" #tipo_name [(ngModel)] = "dado.tipo" />
      </div>
      <div *ngIf="angForm.controls['tipo'].invalid && (angForm.controls['tipo'].dirty || angForm.controls['tipo'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['tipo'].errors.required">
          Tipo é obrigatório.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">Natureza</label>
        <input type="text" class="form-control" formControlName="natureza" #natureza_name [(ngModel)] = "dado.natureza" />
      </div>
      <div *ngIf="angForm.controls['natureza'].invalid && (angForm.controls['natureza'].dirty || angForm.controls['natureza'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['natureza'].errors.required">
          Natureza é obrigatório.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2">Data</label>
        <input type="date" class="form-control" formControlName="dia" #dia_name [(ngModel)] = "dado.dia" />
      </div>
      <div *ngIf="angForm.controls['dia'].invalid && (angForm.controls['dia'].dirty || angForm.controls['dia'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['dia'].errors.required">
          Data é obrigatório.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-1">Descrição</label>
        <input type="text" class="form-control" formControlName="descricao" #descricao_name [(ngModel)] = "dado.descricao" />
      </div>
      <div *ngIf="angForm.controls['descricao'].invalid && (angForm.controls['descricao'].dirty || angForm.controls['descricao'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['descricao'].errors.required">
          Descrição é obrigatório.
        </div>
      </div>  
      <div class="form-group">
        <label class="col-md-1">Local</label>
        <input type="text" class="form-control" formControlName="local" #local_name [(ngModel)] = "dado.local" />
      </div>
      <div *ngIf="angForm.controls['local'].invalid && (angForm.controls['local'].dirty || angForm.controls['local'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['local'].errors.required">
          Local é obrigatório.
        </div>
      </div>    
      <div class="form-group">
        <button (click)="updateDado()"
        [disabled]="angForm.invalid" 
        class="btn btn-primary">Alterar Dado</button>
      </div>
    </form>
  </div>
</div>