
		<section class="hero hero-fullscreen jarallax hero-bg-ready" data-speed="0.2" style="min-height: 662.5px;" data-jarallax-original-styles="min-height: calc(100vh - 140px)">
			
			<div class="hero-foreground d-flex flex-column justify-content-center cade">
				<div class="d-flex align-items-center justify-content-center py-14 py-md-23 py-lg-25">
					<div class="card border-0 text-center mx-15 mx-lg-0 bg-white-90 cartao" style="max-width: 770px">
						<div class="card-body text-body p-10 p-lg-22">
							<h2 class="text-black fs-6 fs-md-9 fs-lg-11 lh-lg-12 mb-10">
								Transparente e Acessível
							</h2>
							<a routerLink="dado" class="btn btn-lg btn-primary" routerLinkActive="active">
								Visualizar Dados
							</a>
						</div>
					</div>
				</div>
			</div>
			<div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
        		<a href="https://imgur.com/94XJlW5"><img class="jarallax-img" src="https://i.imgur.com/94XJlW5.jpg" title="source: imgur.com" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: -41.45px; transform: translated3d(0px, 49.05px, 0px);" /></a>
        
			</div>
		</section>
		<section class="section pt-21 pb-10 pb-md-9 pb-lg-4 secao">
			<div class="container-fluid space-2 space-top-xl-3 space-bottom-lg-3 segundo">
				<div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
					<h2>Divulgação de Dados para preservação Oceanica</h2>
				</div>
				<div class="row mx-n2 mx-lg-n3">
					<div class="col-sm-6 col-lg-4 px-2 px-lg-3 mb-3 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
						<a class="card bg-secondary text-left h-100 transition-3d-hover" href="#">
							<div class="card-body">
								<div class="mb-5">
									<h3 class="text-white">
										Colaboração
									</h3>
									<p class="text-white">
										Colabore com a preservação oceanica divulgando e visualizando dados.
									</p>
								</div>
							</div>
							<div class="card-footer">
								<span class="font-size-1 text-white font-weight-bold">
									Saiba mais
									<i class="fas fa-angle-right fa-sm ml-1">
										
									</i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-lg-4 px-2 px-lg-3 mb-3 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="150">
						<a class="card bg-secondary text-left h-100 transition-3d-hover" href="#">
							<div class="card-body">
								<div class="mb-5">
									<h3 class="text-white">Ciência</h3>
									<p class="text-white">
										Dados viabilizados de diferentes formas, para pesquisadores no mundo todo produzirem ciência.
									</p>
								</div>
							</div>
							<div class="card-footer">
								<span class="font-size-1 text-white font-weight-bold">
									Comece a pesquisar
									<i class="fas fa-angle-right fa-sm ml-1">
										
									</i>
								</span>
							</div>
						</a>
					</div>
					<div class="col-sm-6 col-lg-4 px-2 px-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
						<a class="card bg-secondary text-left h-100 transition-3d-hover" href="#">
							<div class="card-body">
								<div class="mb-5">
									<h3 class="text-white">
										Preserve
									</h3>
									<p class="text-white">
										Ajude a elaborar soluções para preservação oceanica e colabore na tomada de decisão
									</p>
								</div>
							</div>
							<div class="card-footer">
								<span class="font-size-1 text-white font-weight-bold">
									Conheça as soluções
									<i class="fas fa-angle-right fa-sm ml-1">
										
									</i>
								</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section segunda">
			<div class="container d-flex align-items-center justify-content-center text-center">
				<h1 id="projs" class="projetostit">Projetos</h1>
			</div>
			<div class="container marketing">
				<div class="row">
					<div class="col-md-3">
						<!--<img class="bd-placeholder-img" width="130" height="130" src="" focusable="false" role="img">-->
						<div class="d-flex align-items-center justify-content-center">
							<a href="https://imgur.com/P8kIQCo"><img class="bd-placebolder-img img-fluid" src="https://i.imgur.com/P8kIQCo.png" title="source: imgur.com" width="100px" height="100px" /></a>
						</div>	
						<h2 class="tituloproj">Projeto 1</h2>
						<p>
							Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						</p>
						<p>
							<a class="btn btn-info" href="#" role="button">Visitar site</a>
						</p>
					</div>
							
					<div class="col-md-3">
						<div class="d-flex align-items-center justify-content-center">
							<a href="https://imgur.com/P8kIQCo"><img class="bd-placebolder-img img-fluid" src="https://i.imgur.com/P8kIQCo.png" title="source: imgur.com" width="100px" height="100px" /></a>
						</div>
							
						<h2 class="tituloproj">Projeto 2</h2>
						<p>
							Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						</p>
						<p>
							<a class="btn btn-info" href="#" role="button">Visitar site</a>
						</p>
					</div>
							
					<div class="col-md-3">
						<div class="d-flex align-items-center justify-content-center">
							<a href="https://imgur.com/P8kIQCo"><img class="bd-placebolder-img img-fluid" src="https://i.imgur.com/P8kIQCo.png" title="source: imgur.com" width="100px" height="100px" /></a>
						</div>
							
						<h2 class="tituloproj">Projeto 3</h2>
						<p>
							Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						</p>
						<p>
							<a class="btn btn-info" href="#" role="button">Visitar site</a>
						</p>
					</div>
							
					<div class="col-md-3">
						<div class="d-flex align-items-center justify-content-center">
							<a href="https://imgur.com/P8kIQCo"><img class="bd-placebolder-img img-fluid" src="https://i.imgur.com/P8kIQCo.png" title="source: imgur.com" width="100px" height="100px" /></a>
						</div>
							
						<h2 class="tituloproj">Projeto 4</h2>
						<p>
							Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
						</p>
						<p>
							<a class="btn btn-info" href="#" role="button">Visitar site</a>
						</p>
					</div>
							
				</div>
			</div>
		</section>
		<app-sobre></app-sobre>
		<app-rodape></app-rodape>
